@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'win95font';
	src: url('$lib/assets/fonts/MS Sans Serif 8pt.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
	font-family: 'win95font' !important;
}

::selection {
	background-color: rgb(0, 0, 128);
	color: rgb(255, 255, 255);
}

a {
    text-decoration: underline;
}
a:visited {
    color: rgb(0,0,128);
    text-decoration: underline;
}
